body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
    background-color: #2d3436;
}
section{
    width: 350px;
   color: #fff;
}
.nav{
    color: rgb(194, 88, 88);
    font-size: xx-large;
    text-align: center;
    font-weight: bold;

}
.form{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.container{
    margin-top: 15px;
   justify-content: center;
   display: flex;
   flex-direction: column;
    align-items: center;
}
.input{
    width: 300px;
    padding: 10px;
    align-self: center;
    align-items: center;
    border-radius: 1rem;
}
.sub{
    background-color: rgb(194, 88, 88);
margin-left: 8px;
border-radius: 1rem;
outline: none;
color: aliceblue;
border: none;
font-size: 1rem;

padding: 10px;
text-align: center;
}
.list{
    margin-top: 5px;
}
.innerbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 320px;
    
    margin: auto;
    margin-top: 10px;
    /* padding-top: 20px; */
    /* border-bottom: 1px solid; */
    /* border: 1px solid; */
    background-color: rgb(36, 195, 36);
    border-radius: 1rem;
}

  
   .todo-text {
    border: none;
    color: black;
  }
   .todo-items {
    min-width: 450px;
  }
  
  /* each li with class="item" */
  .item {
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
  }
  
  .item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  
  .item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .delete-button {
    float: right;
    background-color: #dc143c;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 550;
  }
  
  /* applied when the todo item is checked */
  .checked { 
    text-decoration: line-through;
  }

ul {
    list-style-type: none; /* get rid of bullet points on side of list items */
  }

        .checkbox:checked + .todo-text {
            text-decoration: line-through;
            text-decoration-thickness:2px;
            text-decoration-color: red;
          }
          .delete-button {
    text-decoration: none;
    color: black;
    font-weight: 100;
}
#filter{
    display: flex;
    flex-direction: row;
    min-width: 450px;
    justify-content: space-between;
    border: 1px solid;
    padding: 5px;
    margin-left: 25px;
}
.edit-button{
    float: right;
    background-color: rgb(49, 116, 49);
    border: none;
    outline: none;
    border-radius: 7px;
    color: aliceblue;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
    
}
#input-edit{
    display: none;
}