<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO APP</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <section>
    <nav class="nav">
        <a class="todo">Todo App</a>
    </nav>
   <div class="container">
        <form action="/add_todo" method="post" class="form">
            <input type="text" name="todo" placeholder="Enter Todo" class="input" />
            <input type="submit" class="sub" value="Add Todo"/>
        </form>
        <ul class="todo-items">

            <% name.forEach((todos,index) => { %>
               
            <li class="item" id="li">
                
              <input type="checkbox" class="checkbox hidden_real_check" <%= todos.iscompleted? "checked" : "" %> >
              <span class="todo-text" ><%= todos.task%> </span>
               <a class="delete-button" href="/delete/<%= index %>"  >X</a>
            
            </li>
            <% }) %>
          </ul>
         
        
    </div>
    </div>
</section>
</body>
</html>